@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRM</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to our CRM system</h2>
        <p>CRM is a sample application that holds client and employee details.</p>
    </div>
</div>